.button {
  padding: 0.5rem 2rem;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  color: var(--accent);
}

.button.secondary {
  background-color: var(--secondary);
}

.button.primary {
  background-color: var(--primary);
}

.button.tertiary {
  background-color: var(--tertiary);
}

.button:disabled {
  cursor: not-allowed;
  background-color: gray;
}
